### BEGIN /etc/grub.d/10_linux ###

menuentry 'Gentoo 3.8.10-r1' --class gentoo --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-01a888a3-941a-42d1-b7c2-429151320572' {
  load_video
	insmod gzio
	insmod part_msdos
	insmod ext2
	set root='hd0,msdos1'
	if [ x$feature_platform_search_hint = xy ]; then
	  search --no-floppy --fs-uuid --set=root --hint-bios=hd0,msdos1 --hint-efi=hd0,msdos1 --hint-baremetal=ahci0,msdos1  1ff90720-d2ef-4cd0-b805-c9e337b9fea1
	else
	  search --no-floppy --fs-uuid --set=root 1ff90720-d2ef-4cd0-b805-c9e337b9fea1
	fi
	echo	'Loading Linux kernel-3.8.10-r1 ...'
	linux	/kernel-3.8.10-r1 root=/dev/sda2 ro  
}

menuentry 'Gentoo 3.8.6-r1' --class gentoo --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-01a888a3-941a-42d1-b7c2-429151320572' {
	load_video
	insmod gzio
	insmod part_msdos
	insmod ext2
	set root='hd0,msdos1'
	if [ x$feature_platform_search_hint = xy ]; then
	  search --no-floppy --fs-uuid --set=root --hint-bios=hd0,msdos1 --hint-efi=hd0,msdos1 --hint-baremetal=ahci0,msdos1  1ff90720-d2ef-4cd0-b805-c9e337b9fea1
	else
	  search --no-floppy --fs-uuid --set=root 1ff90720-d2ef-4cd0-b805-c9e337b9fea1
	fi
	echo	'Loading Linux kernel-3.8.6-r1 ...'
	linux	/kernel-3.8.6-r1 root=/dev/sda2 ro  
}


# (2) Windows 7

menuentry "Microsoft Windows 7" {
      insmod chain
      set root=(hd0,4)
      chainloader +1
}
